# Unused Dockerfile
conda_Dockerfile

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
.env

# VS Code
.vscode/

# IDEs
.idea/

# Serverless Framework
.serverless/
node_modules/
package-lock.json
serverless.env.yml
.env.yml
.env.yaml
credentials.yml
.serverlessrc

# AWS SAM
.aws-sam/
samconfig.toml